<div class="container">
  <h1>Bienvenue sur The Gossip Project</h1>

  <div class="row">
    <% @gossips.each do |gossip| %>
      <div class="col-md-4 mb-3">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title"><%= gossip.title %></h5>
            <p class="card-text">Auteur : <%= gossip.user.first_name %></p>
            <%= link_to "Voir plus", gossip_path(gossip), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
