<div class="container">
  <h1>Voici notre équipe , les 3 Moussailons de THP</h1>
  <p>Nous sommes les 3 Moussaillons, Martine, Johann et Tom. Nous apprenons les secrets du code et du dev à THP. 
  Nous avons de nombreuses créations à notre actif, comme The Surfing Project, Google et DogBnB pour les plus connus.
  Ce que nous aimons particulièrement, ce sont les potins.
  C'est pourquoi nous avons créer The Gossip Project, pour que rien de vous échappe. 
  A vos Gossips :)
  Les 3 Moussaillons</p>
</div>

